{
  "calendars": [
    {"id": "sam.smith@example.com", "label": "Sam", "emoji": "👨", "remind": true},
    {"id": "alex.rivera@example.com", "label": "Alex", "emoji": "👩", "remind": false}
  ],
  "timezone": "America/Los_Angeles"
}
